@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tile-animation {
  background: linear-gradient(270deg, white, rgb(237, 242, 244), rgb(223, 242, 248));
  background-size: 200% 200%;
  animation: gradient-animation 10s linear infinite;
}
.tile-animation:hover {
  animation: gradient-animation 1s linear infinite;
}

